* {
    margin : 0;
    padding: 0;
}

html {
    font-size: 100px;
}

input {
    border   : none;
    outline  : none;
    font-size: .26rem;
}

button {
    border : none;
    outline: none;
}

.head_ {
    width   : 100%;
    overflow: hidden;

    img {
        width      : .26rem;
        height     : .4rem;
        float      : left;
        padding-top: 0.62rem;
        ;
        padding-left: .32rem;
    }

    p {
        float      : right;
        font-size  : .28rem;
        padding-top: 0.7rem;
        ;
        padding-right: .35rem;
    }
}

.bimg {
    width      : 2.5rem;
    height     : 2.74rem;
    margin-top : 1.27rem;
    margin-left: 30%;

}

.body_ {
    width       : 94%;
    text-align  : center;
    padding-left: 0.2rem;

    .d_ {
        font-size    : .26rem;
        border-bottom: .01rem solid #E8E8E8;
        padding-top  : .69rem;
        position     : relative;

        #number {
            position               : absolute;
            top                    : 0.35rem;
            left                   : 6.1rem;
            font-size              : .22rem;
            color                  : #f35626;
            background             : coral;
            background-image       : -webkit-linear-gradient(45deg, #EE50B1 0%, #23A3E4 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .di2 {
        text-align   : center;
        overflow     : hidden;
        font-size    : .26rem;
        border-bottom: .01rem solid #E8E8E8;
        padding-top  : .69rem;

        input {

            margin-left: 1.1rem;

        }


        button {
            font-size              : .22rem;
            float                  : right;
            color                  : #f35626;
            background             : coral;
            background-image       : -webkit-linear-gradient(45deg, #EE50B1 0%, #23A3E4 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }


    }

    .di3 {
        font-size    : .26rem;
        border-bottom: .01rem solid #E8E8E8;
        padding-top  : .69rem;
        position     : relative;

        #error {
            position               : absolute;
            top                    : 0.35rem;
            left                   : 6.1rem;
            font-size              : .22rem;
            color                  : #f35626;
            background             : coral;
            background-image       : -webkit-linear-gradient(45deg, #EE50B1 0%, #23A3E4 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

}

.lf {
    position: relative;

    .login_a {

        margin-top        : .66rem;
        // display        : flex;
        // flex-direction : row;
        // justify-content: center;
        // align-items    : center;
        display           : block;
        margin-bottom     : 2.45rem;
        width             : 1.02rem;
        height            : 1.02rem;
        background        : url(../img/login-img/login-three.png) no-repeat;
        background-size   : 100%;
        position          : absolute;
        left              : 45%;
        transform         : translateX(-30%);


    }

}

.foot {
    width         : 100%;
    font-size     : .19rem;
    color         : #999999;
    text-align    : center;
    position: absolute;
    bottom: .25rem;
}


.alert_ {

    display         : none;
    position        : absolute;
    background-color: white;
    top             : 45%;
    left            : 15%;
    border          : 1px solid black;
    width           : 6rem;
    text-align      : center;
    padding         : 0.25rem 0;
    font-size       : 0.6rem;
    color           : red;


}